<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.tymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta charset="UTF-8" />
    <title>User Registration</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>

</head>
<body>
<h4>New User Registration</h4>
<form autocomplete="off" action="#" th:action="@{/register}" th:object="${appuser}" method="post">

    Full Name <mark><strong><span th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}">Full Name Error</span></strong></mark>
    <input type="text" id="fullName" placeholder="Fuol name" th:field="*{fullName}"/><br />

    User Name <mark><strong><span th:if="${#fields.hasErrors('username')}" th:errors="*{username}">User Name Error</span></strong></mark>
    <input type="text" id="username" placeholder="User Name" th:field="*{username}"/><br />

    Password <mark><strong><span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</span></strong></mark>
    <input type="password" id="password" placeholder="Password" th:field="*{password}"/><br />

    Email <mark><strong><span th:if="${#fields.hasErrors('userEmail')}" th:errors="*{userEmail}">Email Error</span></strong></mark>
    <input type="text" id="email" placeholder="Email" th:field="*{userEmail}"/><br />

    <button type="submit" class="btn btn-default">Submit</button>
</form>
</body>
</html>