<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.tymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8" />
    <title>Order</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>

</head>
<body>

<div th:replace="base::navlinks"></div>

<form action="#"
      th:action="@{/order}"
      th:object="${productOrder}"
      method="post">
    <div class="col-3">
        <input type="hidden" th:field="*{id}" />
    </div>
    <div class="col-3">
        <label id="labelProductInfo">Add order</label>
    </div>
    <div class="col-3">
        <label id="labelReferenceProductName">Order Date</label>
        <input type="date" class="col-12" id="textReferenceOrderDate" th:field="*{orderDate}" placeholder="Order date"/>
        <span th:if="${#fields.hasErrors('orderDate')}" th:errors="*{orderDate}"></span>
    </div>
    <div class="col-3">
        <label id="labelReferenceOrderNumber">Order Number</label>
        <input type="number" class="col-12" id="textReferenceOrderNumber" th:field="*{orderNum}" placeholder="Order number"/>
        <span th:if="${#fields.hasErrors('orderNum')}" th:errors="*{orderNum}"></span>
    </div>
    <div class="col-3">
        <label id="labelReferenceAmount">Amount</label>
        <input type="number" class="col-12"id="textPrice" th:field="*{amount}" placeholder="Enter amount"/>
        <span th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"></span>
    </div>
    <div class="col-3">
        <label id="labelEmail">Email</label><br/>
        <input type="text" class="col-12" id="textEmail" th:field="*{userEmail}" rows="3" placeholder="Enter email"/>
        <span th:if="${#fields.hasErrors('userEmail')}" th:errors="*{userEmail}"></span>
    </div>

    <div class="col-3">
        <label id="labelName">Full Name</label><br/>
        <input type="text" class="col-12" id="textName" th:field="*{fullName}" rows="3" placeholder="Enter your full name"/>
        <span th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}"></span>
    </div>

    <br/>

    <div class="col-3">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>

</form>
<!--<div th:replace="base::footer"></div>-->

</body>
</html>