<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.tymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8" />
    <title>Shopping Cart</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>

</head>
<body>
<div th:replace="base::navlinks"></div>
<div class="container">
    <table class="table" title="Books Table" >
        <thead>
        <tr>
            <th>Product Name</th>
            <th>Product Picture</th>
            <th>Product Price</th>


        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${product}">

            <td th:text="${product.productName}"></td>

            <td><img class="img-rounded" th:src="${product.productPicture}" width="20%"/></td>

            <td th:text="${product.productPrice}"></td>

            <!--<td th:text="${product.productDescription}"></td>-->

            <td><a th:href="@{/delete/{id} (id=${product.id})}">Delete</a></td>

        </tr>
        </tbody>
    </table>
</div>

<!--<div th:replace="base::footer"></div>-->

</body>
</html>